@model Proyecto1_1_1471_0550.Models.Cliente

<h2>Detalles del Cliente</h2>
<ul>
    <li><strong>Identificación:</strong> @Model.Identificacion</li>
    <li><strong>Nombre:</strong> @Model.NombreCompleto</li>
    <li><strong>Provincia:</strong> @Model.Provincia</li>
    <li><strong>Cantón:</strong> @Model.Canton</li>
    <li><strong>Distrito:</strong> @Model.Distrito</li>
    <li><strong>Dirección:</strong> @Model.DireccionExacta</li>
    <li><strong>Teléfono:</strong> @Model.Telefono</li>
    <li><strong>Preferencia de contacto:</strong> @Model.Preferencia</li>
</ul>
<a asp-action="Index">⬅️ Volver</a>